<h1>The Anonymous Problem Project</h1>

<div id="problem-form-wrapper">
  <%= simple_form_for @problem, html: {data: {remote: true}} do |f| %>
    <%= f.input :body, label: "Submit a problem", required: false %>
    <%= f.input :email, label: "Your email (optional)" %>
    <%= f.hidden_field :latitude %>
    <%= f.hidden_field :longitude %>
    <%= f.submit "Submit", id: "submit-problem" %>
  <% end %>
</div>

<div id="display-problem-wrapper", style="display: none">
  <div>
    <%= link_to "submit another problem", "javascript:void(0);", id: "submit-again" %>
    <span>&nbsp;|&nbsp;</span>
    <%= link_to "see another problem", "javascript:void(0);", id: "another-problem" %>
  </div>
  <div id="display-problem"></div>
</div>